<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Admin</title>
</head>
<body>
<button type="button" class="btn btn-primary btnAdd" data-bs-toggle="modal" data-bs-target="#addNewUser">
    Añadir Usuario
</button>

<button type="button" class="btn btn-warning btnAdd">
    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Cerrar Sesion</a>
</button>

<div class="table-responsive">
    <table class="table table-stripes table-bordered text-center table-dark" id="tblUsers">
        <thead>
        <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
        loadUsers();
        //Añadir nuevo usuario
        $("#addNewUser").submit(function(event) {
            event.preventDefault();
            var cedula = $("#cedula").val();
            var nombre = $("#nombre").val();
            var apellido = $("#apellido").val();
            var direccion = $("#direccion").val();
            var telefono = $("#telefono").val();
            var data = {
                "nombre": nombre,
                "apellido": apellido,
                "direccion": direccion,
                "telefono": telefono
            };
            $.ajax({
                url: "http://localhost:4444/rest/save/" + cedula,
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function(data) {
                    loadUsers();
                }
            });
        });
        //Cargar datos para editar al usuario
        $("#tblUsers").on('click', '.btnEdit', function(){
            var currentRow = $(this).closest("tr");

            $('#ecedula').val(currentRow.find("td:eq(0)").text());
            $('#enombre').val(currentRow.find("td:eq(1)").text());
            $('#eapellido').val(currentRow.find("td:eq(2)").text());
            $('#edireccion').val(currentRow.find("td:eq(3)").text());
            $('#etelefono').val(currentRow.find("td:eq(4)").text());
        });

        //Editar usuario
        $("#editUserForm").submit(function(event) {
            event.preventDefault();
            var cedula = $("#ecedula").val();
            var nombre = $("#enombre").val();
            var apellido = $("#eapellido").val();
            var direccion = $("#edireccion").val();
            var telefono = $("#etelefono").val();
            var data = {
                "nombre": nombre,
                "apellido": apellido,
                "direccion": direccion,
                "telefono": telefono
            };
            $.ajax({
                url: "http://localhost:4444/rest/edit/" + cedula,
                type: "PUT",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function(data) {
                    loadUsers();
                }
            });
        });

        //Eliminar usuario
        $("#tblUsers").on('click', '.btnDel', function(){
            var currentRow = $(this).closest("tr");

            var cedula = currentRow.find("td:eq(0)").text();
            $.ajax({
                url: "http://localhost:4444/rest/delete/" + cedula,
                type: "DELETE",
                success: function(data) {
                    loadUsers();
                }
            });
        });

    });

    function loadUsers() {
        $.ajax({
            url: "http://localhost:4444/rest/all",
            type: "GET",
            dataType: "json",
            success: function (data) {
                console.log(data);
                var html = '';
                for (var i = 0; i < data.length; i++) {
                    html += '<tr>';
                    html += '<td>' + data[i].cedula + '</td>';
                    html += '<td>' + data[i].nombre + '</td>';
                    html += '<td>' + data[i].apellido + '</td>';
                    html += '<td>' + data[i].direccion + '</td>';
                    html += '<td>' + data[i].telefono + '</td>';
                    html += '<td>' +
                        "<button type='button' class='btn btn-primary btnEdit' data-bs-toggle='modal' data-bs-target='#editUser'>Editar Usuario</button>" +
                        "<button type='button' class='btn btn-warning btnDel'>Eliminar Usuario</button>" +
                        '</td>';
                    html += '</tr>';
                }
                $("#tblUsers tbody").html(html);
            }
        });
    }

</script>
<div class="modal" tabindex="-1" id="addNewUser">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Añadir Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addUserForm">
                    <input class="form-control mb-3" type="text" name="cedula" placeholder="Cédula" id="cedula">
                    <input class="form-control mb-3" type="text" name="nombre" placeholder="Nombre" id="nombre">
                    <input class="form-control mb-3" type="text" name="apellido" placeholder="Apellido" id="apellido">
                    <input class="form-control mb-3" type="text" name="direccion" placeholder="direccion" id="direccion">
                    <input class="form-control mb-3" type="text" name="telefono" placeholder="Teléfono" id="telefono">
                    <input type="submit" data-bs-dismiss="modal" value="Añadir Usuario" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="editUser">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editUserForm">
                    <input class="form-control mb-3" type="text" name="cedula" placeholder="Cédula" id="ecedula" readonly>
                    <input class="form-control mb-3" type="text" name="nombre" placeholder="Nombre" id="enombre">
                    <input class="form-control mb-3" type="text" name="apellido" placeholder="Apellido" id="eapellido">
                    <input class="form-control mb-3" type="text" name="direccion" placeholder="direccion" id="edireccion">
                    <input class="form-control mb-3" type="text" name="telefono" placeholder="Teléfono" id="etelefono">
                    <input type="submit" data-bs-dismiss="modal" value="Editar Usuario" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="functions.js"></script>
</body>
</html>